
.app {
	background-color: #00000000;
	background-image: url("/images/logo.png");
	background-size: 120px;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	line-height: normal;
	width: 150px;
	height: 150px;
	margin-bottom: 50px;
}
.app > div {
	margin-top: 150px;
	width: 150px;
	text-align: center;
	text-shadow: 1px 1px 5px #000000;
}
