form[name=calculator] {
	width: 100%;
	height: 100%;
}
form[name=calculator] input {
	border-color: #222222;
	border-radius: 0;
	border-width: 1px;
	border-style: solid;
	width: 100%;
	height: 100%;
	font-size: 6em;
	background-color: #111111;
	color: #FFFFFF;
}
form[name=calculator] table {
	width: 100%;
	height: 100%;
}
form[name=calculator] .operator {
	background-color: #1111BB;
}
form[name=calculator] [name=doit] {
	background-color: #DD6600;
}
form[name=calculator] .clear {
	background-color: #FF0000;
}
form[name=calculator] .function {
	background-color: #66DD00;
}
