/* Supra Theme things */
@import url("android-app-style.css");
@import url("calculator.css");
.clock {
	border: none !important;
	overflow: hidden;
}
.clock > canvas {
	margin: -190px 0 !important;
}
