
:root {
	color: var(--textColor);
}
h1 {
	font-size: 1em;
}
.version {
    text-decoration: none;
    font-size: 20px;
    font-family: serif;
    color: rgb(216, 215, 195);
    font-style: oblique;
}

.content, .col-color {
	padding: 8px;
	margin-bottom: 0;
	color: var(--textColor);
	background-color: var(--backgroundColor) !important;
	border: 4px solid;
	border-color: var(--borderColor);
	font: 16px bold;
	border-radius: 16px;
	font-size: 2rem;
}

input {
	min-width: 300px;
	height: 50px;
	background-color: var(--inputBackground);
	border-style: solid;
	border-width: 4px;
	border-color: var(--inputBorder);
	border-radius: 8px;
	text-align: left;
	font-size: 1em;
	color: var(--inputText);
	margin-right: 2px;
	padding-bottom: 0px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;

}
input:focus {
	background-color: var(--focusedElementBackgroundColor);
	color: var(--focusedElementColor);
}
input[type=button] , input[type=submit] , button {
	height: 50px;
	background-color: var(--buttonBGColor);
	border-style: solid;
	border-width: 4px;
	border-color: var(--buttonBorder);
	border-radius: 8px;
	text-align: center;
	font-size: 2rem;
	color: var(--buttonFGColor);
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
}
input div, button div {
	margin-top: 7px;
}
input:hover {
	background-color: var(--buttonBGColorHover);
}
input:active {
	background-color: var(--buttonBGColorActive);
}

.borderedBox {
	overflow: auto;
	padding: 8px;
	margin: 8px;
	margin-bottom: 0;
	background-color: var(--backgroundColor);
	border: 3px solid black;
	border-radius: 8px;
	border-style: solid;
}

#menuButtons {
	position: absolute;
	left: 740px;
	bottom: 50;
	padding-right: -20px;
}

	#menuButtons button {
		border: 4px solid;
		border-color: var(--menuButtonBorder);
		width: 160px;
		height: 160px;
		border-radius: 80px;
		margin: 0px;
		padding: 0px;
		margin-right: 20px;
		background-color: var(--menuButtonBackground);
		background-position: center;
		background-size: 160px 160px;
	}
		#menuButtons button div {
			margin-top: 160px;
			font: 20px;
			color: var(--textColor);
			vertical-align: middle;
			font-size: 2rem;
		}

    #menuButtons button:hover {
		background-color: var(--buttonBGColorHover);
    }
#mainButton {
	background-image: var(--main-icon);
}
#socialButton {
	background-image: var(--social-icon);
}
#contentButton {
	background-image: var(--content-icon);
}
#galaxyButton {
	background-image: var(--galaxy-icon);
}/*
#testingButton {
	background-image: var(--testing-icon);
}*/
#settingsButton {
	background-image: var(--settings-icon);
}
#themeList, #iconList {
	text-align: left;
}
.themeCard {
	width: 260px;
	height: 220px !important;
	background-color: var(--avatarCardBackground);
	border-color: var(--avatarCardBorder);
	color: var(--avatarCardText);
	border-style: solid;
	border-width: 2px;
	border-radius: 16px !important;
	margin: 5px;
	float: left;
}

	.themeCard p {
		font: 16px;
	}

.themeImage {
	width: 280px;
	height: 160px;
	border-top-left-radius: 12px !important;
	border-top-right-radius: 12px !important;
	border-bottom: 4px solid;
	border-color: var(--avatarCardBorder);
}
.active {
	background-color: var(--activeBGcolor) !important;
	color: var(--activeFGcolor) !important;
}
.active button div {
	color: var(--activeFGcolor) !important;
}

#settings > * > *(0) {
	margin-bottom: 30px;
}

.tab {
    display: inline-block;
    width: calc(20% - 4px);
    text-align: center;
    line-height: 60px;
    font-size: 32px;
    background-color: var(--buttonBGColor);
    border: solid 2px;
	border-color: var(--buttonBorder);
	border-radius: 0px;
	margin: 0px;
	padding: 0px;
	color: var(--inputText);
}
    .tab:hover {
		background-color: var(--buttonBGColorHover);
    }


.tab-left {
	border-top-left-radius: 16px;
	border-bottom-right-radius: 16px; /* WTF? why do i have to switch left and right around on the bottom one??????*/
}

.tab-right {
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px; /* WTF? why do i have to switch left and right around on the bottom one??????*/
}

.content-row {
    margin-top: 0px;
	margin-bottom: 0px;
}

.drop-down {
    width: 100%;
    background-color: var(--backgroundColor);
    border: solid 3px;
	border-color: var(--borderColorSec);
	border-radius: 8px;
    position: relative;
    height: 64px;
    font-size: 40px;
	padding-top: 15px;
	padding-left: 15px;
}

.drop-down-text {
	margin-top: -45px;
}

.drop-down-inner {
    width: 14.1%;
    display: block;
    background-color: var(--backgroundColor);
    font-size: 40px;
	border: 2px solid;
	border-top: 0;
	border-color: var(--borderColorSec);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.drop-down-option {
	padding-left: 15px;
	margin: 0px 2px 2px 2px;
}

.drop-down-option:hover {
	background-color: var(--borderColorSec);
	border: none;
}

.drop-down-label {
    font-size: 32px;
    line-height: 64px;
    vertical-align: middle;
}

.content-search > .row {
	height: 64px;
	margin: 0;
}

.content-items {
    padding-top: 50px;
}

.content-row {
    margin-left: 75px;
}

.content-item {
	background-color: var(--buttonBGColor);
	border-style: solid;
	border-width: 4px;
	border-color: var(--buttonBorder);
	border-radius: 16px;
	color: var(--buttonFGColor);
}

    .content-item > img {
        margin-top: 0;
    }

	.content-item > p {
		margin: 5px;
		text-shadow: 1px 1px 2px black;
	}

/* for a purple tint, wich was used on the login panel in the default UI*/
.loginPanelTint {
	background-color: var(--loginPanelTint) !important;
}
