:root {
	color: var(--textColor);
	--border-width: 0px;
	font-family: sans-serif;
}
.content-avatars-item, .content-props-item, .content-worlds-item, .social-friends-item, .social-friends-search-item, .social-requests-item {
	overflow: hidden;
}
.content-avatars-item img, .content-worlds-item img, .social-friends-item img, .social-friends-search-item img, .social-requests-item img {
	width: 290px;
}
.content-props-item img {
	width: 230px;
}
.home-nav-button,
.content-cat-button,
.social-cat-button,
.content-avatars-item,
.content-props-item,
.content-worlds-item,
.power-controls > button,
.content-avatars-internal,
.content-props-internal,
.content-worlds-internal,
.social-friends-item,
.social-friends-search-item,
.social-requests-item,
.social-friends-item-internal,
.social-friends-search-item-internal,
.social-friends-item-internal {
	color: var(--textColor);
	background-color: var(--backgroundColor);
	border-style: solid;
	border-width: var(--border-width);
	border-color: var(--borderColor);
	border-radius: var(--border-radius-outside);
}
.social-friends-item-internal > div:nth-child(2) {
	bottom: 0;
}
input {
	background-color: var(--inputBackground);
	border-style: solid;
	border-width: var(--border-width);
	border-color: var(--inputBorder);
	border-radius: var(--border-radius-inside);
	color: var(--inputText);
	box-sizing: border-box;
}/*
input[type=text], input[type=number], input[type=password] {
	background-color: #33333333;
    filter: blur(4px);
}*/
input:focus {
	background-color: var(--focusedElementBackgroundColor);
	color: var(--focusedElementColor);
}
input[type=button] , input[type=submit] , button {
	background-color: var(--buttonBGColor);
	border-style: solid;
	border-width: var(--border-width);
	border-color: var(--buttonBorder);
	border-radius: var(--border-radius-inside);
	color: var(--buttonFGColor);
	box-sizing: border-box;
}
input:hover {
	background-color: var(--buttonBGColorHover);
}
input:active {
	background-color: var(--buttonBGColorActive);
}
.headerCenterAlign {
	top: 8px;
	font-size: 48px;
}
.header {
	height: 70px;
}
.displayArea {
	top: 70px;
	height: calc(1080px - 70px);
	overflow: hidden;
}
.settingspages {
	top: 0;
	height: 100%;
}
.settings-page {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 1.5em;
}
::-webkit-scrollbar-track {
  background-color: var(--buttonBorder);
}

::-webkit-scrollbar-thumb {
	background-color: var(--backgroundColor);
}
.panelrounding {
	border-radius: 0;
}
.navbar {
	display: none;
}
.home-nav {
	top: 0;
	width: 73%;
	margin: 0 14%;
}
.clock {
	display: none;
}



/* galaxy table */
.galaxy-page-content table, .galaxy-page-content tr, .galaxy-page-content td, .galaxy-page-content th, .galaxy-page-content {
	border: none;
}
.galaxy-page-content table {
	border-spacing: 0 1px;
}
.galaxy-page-content table thead tr {
	background-color: rgba(0,0,0,0.7);
}




/*
:root {
	color: var(--textColor);
	--border-width: 0px;
}
h1 {
	font-size: 1em;
}
.version {
    text-decoration: none;
    font-size: 20px;
    font-family: serif;
    color: rgb(216, 215, 195);
    font-style: oblique;
}

.content, .col-color {
	padding: 8px;
	margin-bottom: 0;
	color: var(--textColor);
	background-color: var(--backgroundColor) !important;
	border-style: solid;
	border-width: var(--border-width);
	border-color: var(--borderColor);
	font: 16px bold;
	border-radius: var(--border-radius-outside);
	font-size: 2rem;
}

.borderedBox {
	overflow: auto;
	padding: 8px;
	margin: 8px;
	margin-bottom: 0;
	background-color: var(--backgroundColor);
	border: 3px solid black;
	border-radius: var(--border-radius-inside);
	border-style: solid;
}

#menuButtons {
	position: absolute;
	left: 740px;
	bottom: 50;
	padding-right: -20px;
}

	#menuButtons button {
		border-style: solid;
		border-width: var(--border-width);
		border-color: var(--menuButtonBorder);
		width: 160px;
		height: 160px;
		border-radius: 80px;
		margin: 0px;
		padding: 0px;
		margin-right: 20px;
		background-color: var(--menuButtonBackground);
		background-position: center;
		background-size: 160px 160px;
	}
		#menuButtons button div {
			margin-top: 160px;
			font: 20px;
			color: var(--textColor);
			vertical-align: middle;
			font-size: 2rem;
		}

    #menuButtons button:hover {
		background-color: var(--buttonBGColorHover);
    }
#mainButton {
	background-image: var(--main-icon);
}
#socialButton {
	background-image: var(--social-icon);
}
#contentButton {
	background-image: var(--content-icon);
}
#galaxyButton {
	background-image: var(--galaxy-icon);
}
#settingsButton {
	background-image: var(--settings-icon);
}
#themeList, #iconList {
	text-align: left;
}*/
.themeCard {
	width: calc(calc(33.3333% - var(--border-width)) - 10px);
	height: auto !important;
	background-color: var(--avatarCardBackground);
	border-color: var(--avatarCardBorder);
	color: var(--avatarCardText);
	border-style: solid;
	border-width: var(--border-width);
	border-radius: var(--border-radius-outside) !important;
	margin: 5px;
	float: left;
}

	.themeCard p {
		font: 16px;
	}

.themeImage {
	margin-top: var(--border-width);
	margin-left: calc(var(--border-width) - 5px);
	width: calc(calc(100% + 11px) - calc(var(--border-width) * 2));
	border-top-left-radius: var(--border-radius-medium) !important;
	border-top-right-radius: var(--border-radius-medium) !important;
	border-bottom-style: solid;
	border-bottom-width: var(--border-width);
	border-color: var(--avatarCardBorder);
}
.active {
	background-color: var(--activeBGcolor) !important;
	color: var(--activeFGcolor) !important;
}
.active button div {
	color: var(--activeFGcolor) !important;
}
.themeList, .iconList {
	display: table-row;
}
/*
#settings > * > *(0) {
	margin-bottom: 30px;
}

.tab {
    display: inline-block;
    width: calc(20% - calc(var(--border-width) * 2));
    text-align: center;
    line-height: 60px;
    font-size: 32px;
    background-color: var(--buttonBGColor);
	border-style: solid;
	border-width: var(--border-width);
	border-color: var(--buttonBorder);
	border-radius: 0px;
	margin: 0px;
	padding: 0px;
	color: var(--inputText);
}
    .tab:hover {
		background-color: var(--buttonBGColorHover);
    }

.content-row {
    margin-top: 0px;
	margin-bottom: 0px;
}

.drop-down {
    width: 100%;
    background-color: var(--backgroundColor);
	border-style: solid;
	border-width: var(--border-width);
	border-color: var(--borderColorSec);
	border-radius: var(--border-radius-inside);
    position: relative;
    height: 64px;
    font-size: 40px;
	padding-top: 10px;
	padding-left: 15px;
}

.drop-down > span {
    width: 64px;
	height: 64px;
	margin-right: 5px;
}

.drop-down-text {
	line-height: 64px;
	margin-top: -80px;
	width: calc(calc(100% - 79px) - var(--border-width));
}

.drop-down-inner {
    display: block;
    background-color: var(--backgroundColor);
    font-size: 40px;
	border-style: solid;
	border-width: var(--border-width);
	border-top: 0;
	border-color: var(--borderColorSec);
	border-bottom-left-radius: var(--border-radius-inside);
	border-bottom-right-radius: var(--border-radius-inside);
}

.drop-down-option {
	padding-left: 15px;
	margin: 0px 2px 2px 2px;
}

.drop-down-option:hover {
	background-color: var(--borderColorSec);
	border: none;
}

.drop-down-label {
    font-size: 32px;
    line-height: 64px;
    vertical-align: middle;
}

.content-search > .row {
	height: 64px;
	margin: 0;
}

.content-items {
    padding-top: 50px;
}

.content-row {
    margin-left: 75px;
}

.content-item {
	background-color: var(--buttonBGColor);
	border-style: solid;
	border-width: var(--border-width);
	border-color: var(--buttonBorder);
	border-radius: var(--border-radius-outside);
	color: var(--buttonFGColor);
}

    .content-item > img {
        margin-top: 0;
    }

	.content-item > p {
		margin: 5px;
		text-shadow: 1px 1px 2px black;
	}

.loginPanelTint {
	background-color: var(--loginPanelTint) !important;
}
.asset-info-spawn {
	width: calc(100% - var(--border-width));
}
*/
