html {
	/* general text color */
	--textColor: #000000;

	/* colors for a active menu element (e.g. menu point for content menu) */
	--activeBGcolor: #FFFFFF; /* background */
	--activeFGcolor: #000000; /* foreground */

	/* buttons (<button> aswell as <input>[button] and <input>[submit]) */
	--buttonBGColor: #FFFFFF; /* background */
	--buttonFGColor: var(--textColor); /* foreground */

	/* focused element. Things like <input> */
	--focusedElementBackgroundColor: #FFFFFF;
	--focusedElementColor: #000000;

	/* general UI colors */
	--backgroundColor: #CCCCCCF7; /* background */
	--borderColor: #000000F9; /* border */
	--borderColorSec: #222222; /* secondary border (buttons and elements inside the main UI) */
	--inputBackgroundColor: #EEEEEE;

	/************************************
	***********single elements***********
	************************************/

	--menuButtonBackground: var(--backgroundColor);
	--menuButtonBorder: var(--borderColor);
	--menuButtonText: var(--textColor);

	--inputBackground: var(--inputBackgroundColor);
	--inputBorder: var(--borderColorSec);
	--inputText: var(--buttonFGColor);

	--buttonBackground: var(--buttonBGColor);
	--buttonBorder: var(--borderColorSec);
	--buttonText: var(--buttonFGColor);

	--avatarCardBackground: var(--buttonBGColor);
	--avatarCardBorder: var(--borderColorSec);
	--avatarCardText: var(--textColor);

}
