html {
	/* general text color */
	--textColor: #FFFFFF;

	/* colors for a active menu element (e.g. menu point for content menu) */
	--activeBGcolor: #200042; /* background */
	--activeFGcolor: #FFFFFF; /* foreground */

	/* buttons (<button> aswell as <input>[button] and <input>[submit]) */
	--buttonBGColor: #100021; /* background */
	--buttonBGColorActive: #17002D; /* background */
	--buttonBGColorHover: #17002D; /* background */
	--buttonFGColor: var(--textColor); /* foreground */

	/* focused element. Things like <input> */
	--focusedElementBackgroundColor: #3f1154;
	--focusedElementColor: var(--textColor);

	/* general UI colors */
	--backgroundColor: #100021F7; /* background */
	--borderColor: #26004cF9; /* border */
	--borderColorSec: #0c0019; /* secondary border (buttons and elements inside the main UI) */
	--inputBackgroundColor: #270935;

	/************************************
	***********single elements***********
	************************************/

	--menuButtonBackground: var(--backgroundColor);
	--menuButtonBorder: var(--borderColor);
	--menuButtonText: var(--textColor);

	--inputBackground: var(--inputBackgroundColor);
	--inputBorder: var(--borderColorSec);
	--inputText: var(--buttonFGColor);

	--buttonBackground: var(--buttonBGColor);
	--buttonBorder: var(--borderColorSec);
	--buttonText: var(--buttonFGColor);

	--avatarCardBackground: var(--buttonBGColor);
	--avatarCardBorder: var(--borderColorSec);
	--avatarCardText: var(--textColor);

	--loginPanelTint: var(--backgroundColor);
}
