
html {
	--main-icon: url("/logo.png");
	--social-icon: url("/themes/supra/icons/dark/social.png");
	--content-icon: url("/themes/supra/icons/dark/content.png");
	--galaxy-icon: url("/themes/supra/icons/dark/galaxy.png");
	/*--testing-icon: url("/themes/supra/icons/dark/testing.png");*/
	--settings-icon: url("/themes/supra/icons/dark/settings.png");
}
