
html {
	--main-icon: url("/images/logo.png");
	--social-icon: url("/themes/supra/icons/light/social.png");
	--content-icon: url("/themes/supra/icons/light/content.png");
	--galaxy-icon: url("/themes/supra/icons/light/galaxy.png");
	/*--testing-icon: url("/themes/supra/icons/light/testing.png");*/
	--settings-icon: url("/themes/supra/icons/light/settings.png");
}
