.displayArea {
	bottom: 70px;
	height: calc(1080px - 140px);
}
.navbar {
	display: block;
	top: 1010px;
	height: 70px;
	width: 100%;
	position: absolute;
	text-align: center;
}
.navbar-button {
	height: 70px;
	position: relative;
	background: #00000000;
	border: none;
}
